<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="index.js"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Big Basket</title>
</head>
<body>
    <header class="header ">
        <label class="logo">BIG BASKET</label>
        <nav class="nav-bar">
            <ul class="nav-bar-list">
                <li><a class="nav-bar-link" href="/">Home</a></li>
                <li><a class="nav-bar-link" href="about">About</a></li>
                <li><a class="nav-bar-link" href="#">Services</a></li>
                <li><a class="nav-bar-link" href="contact">Contact Us</a></li>
            </ul>
        </nav>
        <div class="icons-div">
            <i class="fa-solid fa-bars  icons" name="menu"></i>
            <i class="fa-solid fa-xmark icons" name="close"></i>
        </div>
    </header>

    <div class="about-main content">
        <p>Big Basket</p>
        <h3>CONTECT US BIG BASKET</h3>
        <p>Delhi-NCR:
            Khasra No - 147/1-2-3,
            Village Bamnoli, Sector - 28, Dwarka,
            New Delhi-110 061</p>
        <div class="content">
            <p>Tel: 1860-123-1000</p>
        </div>
    </div>
</body>
</html>